@font-face {
    font-family: 'fontello';
    src:    url('../fonts/fontello.eot?ql5xyc');
    src:    url('../fonts/fontello.eot?ql5xyc#iefix') format('embedded-opentype'),
        url('../fonts/fontello.ttf?ql5xyc') format('truetype'),
        url('../fonts/fontello.woff?ql5xyc') format('woff'),
        url('../fonts/fontello.svg?ql5xyc#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontello' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\e800'; } /* '' */
.icon-yelp:before { content: '\e801'; } /* '' */
.icon-icons_footer_fb:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-icons_footer_insta:before { content: '\e804'; } /* '' */
.icon-icons_footer_pinterest:before { content: '\e805'; } /* '' */
.icon-icons_footer_twitter:before { content: '\e806'; } /* '' */
.icon-icons_logo_veritcal:before { content: '\e807'; } /* '' */
.icon-right-open-big:before { content: '\e808'; } /* '' */
.icon-publish:before { content: '\e809'; } /* '' */
.icon-window:before { content: '\e80a'; } /* '' */
.icon-arrow-combo:before { content: '\e80b'; } /* '' */
.icon-down-circled:before { content: '\e80c'; } /* '' */
.icon-up-open-big:before { content: '\e80d'; } /* '' */
.icon-down:before { content: '\e80e'; } /* '' */
.icon-left-open-big-1:before { content: '\e80f'; } /* '' */
.icon-icons_navigation_circle_closed:before { content: '\e810'; } /* '' */
.icon-icons_navigation_circle_open:before { content: '\e811'; } /* '' */
.icon-icons_navigation_arrow_left:before { content: '\e812'; } /* '' */
.icon-icons_navigation_arrow_right:before { content: '\e813'; } /* '' */
.icon-icons_logo_horizontal:before { content: '\e814'; } /* '' */
.icon-play-circled:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e816'; } /* '' */
.icon-star.empty:before { content: '\e817'; } /* '' */