@import url("//hello.myfonts.net/count/314665");

  
@font-face {font-family: 'Novecentosanswide-Bold';src: url('../fonts/314665_0_0.eot');src: url('../fonts/314665_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/314665_0_0.woff2') format('woff2'),url('../fonts/314665_0_0.woff') format('woff'),url('../fonts/314665_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentosanswide-Light';src: url('../fonts/314665_1_0.eot');src: url('../fonts/314665_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/314665_1_0.woff2') format('woff2'),url('../fonts/314665_1_0.woff') format('woff'),url('../fonts/314665_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Novecentosanswide-Normal';src: url('../fonts/314665_2_0.eot');src: url('../fonts/314665_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/314665_2_0.woff2') format('woff2'),url('../fonts/314665_2_0.woff') format('woff'),url('../fonts/314665_2_0.ttf') format('truetype');}
html {
	text-transform: uppercase;
  font-weight: 100;
  font: 10px 'Novecentosanswide-Light',arial, sans-serif;

}
body {
  font-size: 1.5rem;
  letter-spacing: 2px;
  @include mobile-only {
    font-size: 2rem;
  }
}
h1 {
  font-size: 5rem;
  line-height: 1;
  font-family: 'Novecentosanswide-Light';
  margin-bottom: 38px;
}

h2 {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1;
  font-family: 'Novecentosanswide-Light';
  margin-bottom: 35px;
}
a {
  color: inherit;
}
p {
  line-height: 1.8;
  font-family: 'Novecentosanswide-Light';
  margin-bottom: 35px;
}
.text-white {
	color: $white;
}
.text-black {
	color: $black;
}
.text-gold {
	color: $gold;
}