@import "variables";
@import "reset";
@import "mixin";
// General typography like web fonts and icon fonts, and some styles that can be used as mixins.
@import "typography";
@import "icons";

// Define your grid system
@import "grid";

// Components are things like buttons, tables, and dropdowns.
// They should be generic, extendable, and reusable.
@import "components/buttons";
@import "components/modals";
@import "components/tables";
@import "components/forms";
@import "components/calendar";
@import "components/slides";


// Modules are larger sections and they contain components.
@import "modules/footer";
@import "modules/generic";
@import "modules/hero";
@import "modules/nav";

@import "blocks/homeHero";
@import "blocks/secondaryHero";
@import "blocks/oneColumn";
@import "blocks/staff";
@import "blocks/homeprograms";
@import "blocks/homeLocations";
@import "blocks/twoColumns";
@import "blocks/contact";

// WHERE ARE MY BREAKPOINTS???
//
// Relax. Define breakpoints with each module, and *try* to tailor your
// breakpoints to the content, rather than specific screen sizes.

// Finally, take care of unique cases like print and IE users
@import "print";
@import "ie";
