footer {
  font-size: 0.9rem;
  padding: 0 120px 108px;
  color: $gold;
  line-height: 22px;
  @include tablet-mobile {
    padding: 0 5% 30px;
  }
  .container {
    margin: 0 auto;
    max-width: 1132px;
  }
  .footer-container:not(.form-container) {
    padding: 70px 0;
  }
  .form-container {
    background-color: $off-white;
    padding: 50px;
  }
  .rating-up {
    display: flex;
    justify-content: center;
    img {
      width: 25%;
      height: 100%;
      margin-right: 5px;
    }
    .icon-star {
      font-size: 20px;
      align-self: center;
    }
  }
  li {
    list-style: none;
    &.location:not(:last-child){
      &:after {
        content: "";
        margin: 20px 0;
        display: block;
        width: 90%;
        height: 1px;
        background: $gray-light;
      }
    }
    &.social {
      font-size: 3.2rem;
      display: inline-block;
      padding: 0 5px;
      a {
        color: $gray;        
        transition: all .5s ease;
        &:hover {
          color: $gold;      
          text-decoration: none;
          text-transform: none;
        }
      }
    }
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 300;
  }
  ul:not(:last-child) {
    margin-bottom: 27px;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .mobile-container {
    padding: 20px;
    ul:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}