html {
  font-size: 10px;
  font-family: 'roboto', Arial, serif;
  font-weight: 300;
}
body {
  font-size: 1.6rem;
  background-color: $white;
}
section {
  padding: 130px 170px;
  * {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  &:not(:first-of-type) {
    border-bottom: 1px solid $gray-border;
  }
  @include tablet-mobile {
    padding: 50px 5%;
  }
}
html, 
body, 
.scroller {
  height: 100%;
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}
img {
  max-width: 100%;
}

hr {
  border: 1px solid $gray-border;
}
.text-center {
  text-align: center;
}
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}

@include mobile-only {
  section {
    text-align: center;
  }    
}
