html {
  background-color: $black;
}
section {
  padding: 130px 260px;
  text-align: center;
  min-height: $section-height;
  &.parallax {
    height: $section-height;
    @include mobile-only {
      background-position: 50% 50% !important;
      height: auto;
    }
  }
  * {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .inner {
    @include center;
  }
  @include tablet-mobile {
    padding: 90px 5%;
  }
}
.dropdown {
  font-size: 1.5rem;
  margin: 7px 0;
  .dropdown-inner {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
  .dropdown-body {
    color: $gold;
    padding: 35px;
  }
  h4 {
    background: $gold;
    padding: 7px 20px;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &.open {
    .dropdown-inner {
      max-height: 200px;
      @include mobile-only {
        max-height: 600px;
      }
    }
    h4:after {
      @include desktop-tablet {
        border-top: 7px solid $white;
        transform: rotate(-180deg);
      }
      @include mobile-only {
        transform: translate3d(0, -50%, 0) rotate(90deg);
        right: 5%;
      }
    }
  }
  @include mobile-only {
    margin: 5px -5vw;
    h4 {
      padding: 45px;
      font-size: 2.6rem;
      text-align: left;
      font-family: 'Novecentosanswide-normal';
      letter-spacing: 2px;
    }
  } 
}
section#our-booth-slide {
  padding: 0;
}
section#package {
  ul {
    list-style: none;
  }
  .dropdown {
    &.open {
      .dropdown-inner {
        max-height: 600px;
      }
      h4:after {
        @include desktop-tablet {
          border-top: 7px solid $gold;
        }
      }
    }
  }
  .dropdown-body {
    color: $black;
  }
  h4{
    background-color: $black;
    &:after {
      @include desktop-tablet {
        border-top: 7px solid $white;
      }
    }
  }
}
section#faq {
  padding-top: 0;
  padding-bottom: 90px;
  min-height: 0;
  h4{
    color: $black;
    text-align: left;
    font-family: 'Novecentosanswide-bold';
  }
  .dropdown.open {
    .dropdown-inner {
      max-height: 600px;
    }
  }
  .dropdown-body {
    color: $white;
  }
}

section#hero {
  background-color: $white;
  padding: 0;
  height: 632px;
  .hero-back {
    background-color: rgba($black,0.7);
    width: 100%;
    height: 100%;
  }
  .hero-logo {
    color: $black;
    font-size: 30rem;
    @include center;
  }
  .hero-play {
    color: $white;
    font-size: 8rem;
    cursor: pointer;
    @include center;
  }
  .hero-video {
    @include overlap;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
    &.start {
      opacity: 1;
      z-index: 2;
    }
  }
}

section#contact {
  @include tablet-mobile {
    padding: 130px 5%;
  }
}

section#our-booth {
  overflow: hidden;
}

.belt {
  position: absolute;
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
  img {
    height: 128px;
    max-width: none;
    left: -30px;
  }
}
.belt-up {
  top: 0;
  left: 0;
}
.belt-bottom {
  bottom: -100px;
  left: 0;
}

.img-move {
  position: absolute;
  @include mobile-only {
    transform:translate(0, 0) !important;
  }
}

#light {
  top: -400px;
  left: -250px;
  @include mobile-only {
    width: 200px;
    top: 200px;
    left: -90px;
  }
}

#photo {
  top: 100px;
  right: -180px;
  @include mobile-only {
    width: 150px;
    top: 400px;
    right: -90px;
  }
}

#printer {
  right: -400px;
  top: 230px;
  width: 800px;
}

html, 
body, 
.scroller {
  height: 100%;
}

.scroller {
 // overflow-y: scroll;
  margin-top: 70px;
  @include desktop-only {
    margin-top: 130px;
    transition: all .5s ease;
    &.nav-narrow {
      margin-top: 64px;
    }
  }
}

.scroller,
.scroller-inner {
  position: relative;
}
img {
  max-width: 100%;
}

hr {
  border: 1px solid $gray-border;
}
.text-center {
  text-align: center;
}
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}
.triangle {
  &:after {
    @include triangle-down(7,$black,12);
    @include mobile-only {
      @include triangle-right(25,$white,0);
      @include center-y;
    }
  }
}

@include mobile-only {
  section {
    text-align: center;
  }    
}
