html {
  font-size: 10px;
  font-family: 'roboto', Arial, serif;
  font-weight: 300;
}
body {
  font-size: 1.6rem;
  background-color: $white;
}
section {
  padding: 130px 170px;
  text-align: center;
  min-height: $section-height;
  &.parallax {
    height: $section-height;
  }
  * {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1024px;
  }
  &:not(:first-of-type) {
    border-bottom: 1px solid $gray-border;
  }
  @include tablet-mobile {
    padding: 50px 5%;
  }
}
.dropdown {
  font-size: 1.5rem;
  margin: 5px 0;
  .dropdown-inner {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }
  .dropdown-body {
    color: $gold;
    padding: 35px;
  }
  h4 {
    background: $gold;
    padding: 7px;
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &.open {
    .dropdown-inner {
      max-height: 200px;
    }
    h4:after {
      border-top: 7px solid $white;
      transform: rotate(-180deg);
    }
  } 
}
section#our-booth-slide {
  padding: 0;
}
section#package {
  ul {
    list-style: none;
  }
  .dropdown {
    &.open {
      .dropdown-inner {
        max-height: 400px;
      }
      h4:after {
        border-top: 7px solid $gold;
      }
    }
  }
  .dropdown-body {
    color: $black;
  }
  h4{
    background-color: $black;
    &:after {
      border-top: 7px solid $white;
    }
  }
}

html, 
body, 
.scroller {
  height: 100%;
}

.scroller {
  overflow-y: scroll;
}

.scroller,
.scroller-inner {
  position: relative;
}
img {
  max-width: 100%;
}

hr {
  border: 1px solid $gray-border;
}
.text-center {
  text-align: center;
}
.mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
}

.desktop-only {
  @include tablet-mobile {
    display: none !important;
  }
}

.desktop-tablet-only {
  @include mobile-only {
    display: none !important;
  }
}

.desktop-mobile-only {
  display: none !important;
  @include mobile-only {
    display: block !important;
  }
  @include desktop-only {
    display: block !important;
  }
}

.tablet-only {
  @include desktop-only {
    display: none !important;
  }
  @include mobile-only {
    display: none !important;
  }
}

.tablet-mobile-only {
  @include desktop-only {
    display: none !important;
  }
}
.triangle {
  &:after {
    @include triangle(7,$black,12);
  }
}

@include mobile-only {
  section {
    text-align: center;
  }    
}
