form {
  .triangle:after {
    @include triangle(12,$white,16);
  }
  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .field {
    .heading {
      display: none;
    }
  }
  input,select {
    text-transform: uppercase;
    padding: 10px 20px;
    color: $gold;
    border: 2px solid $gold;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    background-color: transparent;

    @include placeholder {
      font-size: 1.5rem;
      font-weight: 500;
      color: $gold;
    }
  }
  input {
    margin-bottom: 15px;
  }
  $select-arrow: 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0LjgzIDE2LjQybDkuMTcgOS4xNyA5LjE3LTkuMTcgMi44MyAyLjgzLTEyIDEyLTEyLTEyeiIvPjxwYXRoIGQ9Ik0wLS43NWg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+';

  select {
    border-radius: 0;
    -webkit-appearance: none; // autoprefixer won't add this and we still need it
    appearance: none;
    cursor: pointer;
  }
}