{% extends "_layout" %}
{% block mobileLogo %}
  <a href="/"><span class="mobile-logo icon-icons_logo_horizontal"></span></a>
{% endblock %}
{% block nav %}
{% cache for 3 weeks %}
  <li><a href="/#about">About</a></li>
  <li><a href="/#our-booth">Our Booth</a></li>
  <li><a href="/#package">Packages</a></li>
  <li class="desktop-only text-white nav-logo"><a href="/#hero"><span class="icon-icons_logo_horizontal"></span></a></li>
  <li><a href="{{ siteInfo.facebook }}">Galleries</a></li>
  <li><a href="/faq">FAQ</a></li>
  <li><a href="/#contact">Contact</a></li>
{% endcache %}
{% endblock %}

{% block content %}
{% cache for 3 weeks %}
  <section id="landing" class="text-white">
    <h1>{{entry.header}}</h1>
    {{entry.body}}
    {% set parent = entry.carousel %}
    <div class="carousel">
    {% for child in parent %}
      <image alt="{{child.title}}" src="slide.image|first.url">
    {% endfor %}  
    </div>

  </section>
{% endcache %}
{% endblock %}

{% block footerlink %}
{% cache for 3 weeks %}
<a href="/#about">welcome</a> | <a href="/#our-booth">close up</a> | <a href="/#our-booth-middle">step into The LAB</a> | <a href="/#package">packages and pricing</a> | <a href="/faq">FAQ</a></p>
{% endcache %}
{% endblock %}