section#landing {
  letter-spacing: 2px;
  padding: 130px 100px;
  a {
    color: $gold;
    text-decoration: none;
  }
  h2 {
    font-size: 25px;
    line-height: 1.2;
  }
  p {
    line-height: 1.2;
    font-size: 15px;
  }
  .carousel {
    margin-top: 150px;
  }
}