section#landing {
  letter-spacing: 2px;
  padding: 130px 100px;
  h1 {
    font-size: 34px
  }
  a {
    color: $gold;
    text-decoration: none;
  }
  h2 {
    font-size: 27px;
    line-height: 1.2;
  }
  p {
    line-height: 1.2;
    font-size: 10px;
  }
  .carousel {
    margin-top: 150px;
    img {
      width: 200px;
      max-width: 200px;
    }
  }
}